<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
		<servlet-name>ProjetParisSport</servlet-name>
		<servlet-class>projetPariSport.ProjetParisSportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjetParisSport</servlet-name>
		<url-pattern>/projetparissport</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ScheduleMAJ</servlet-name>
		<servlet-class>projetPariSport.cron.ScheduleMAJ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleMAJ</servlet-name>
		<url-pattern>/cron/scheduleMAJ</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EveryDayCron</servlet-name>
		<servlet-class>projetPariSport.cron.EveryDayCron</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EveryDayCron</servlet-name>
		<url-pattern>/cron/everyDayCron</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GameScoreBoxUpdate</servlet-name>
		<servlet-class>projetPariSport.cron.GameScoreBoxUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GameScoreBoxUpdate</servlet-name>
		<url-pattern>/cron/gameScoreBoxUpdate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GameSummaryUpdate</servlet-name>
		<servlet-class>projetPariSport.cron.GameSummaryUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GameSummaryUpdate</servlet-name>
		<url-pattern>/cron/gameSummaryUpdate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>projetPariSport.cron.Test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoadIndexServlet</servlet-name>
		<servlet-class>projetPariSport.servlet.LoadIndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadIndexServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
			
	<welcome-file-list>
		<welcome-file>LoadIndexServlet</welcome-file>
	</welcome-file-list>
	
	<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
		
</web-app>
